<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
 	xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	default-lazy-init="true">

	<!--上传文件 -->
	<bean name="fileinfoAction" class="com.centit.app.action.FileinfoAction"  scope="request">
		<property name="fileinfoManager" ref="fileinfoManager"/>	
	</bean>
	
	<!--全文检索 -->
	<bean name="searcherAction" class="com.centit.app.action.SearchAction" scope="request"/>
	<bean name="innermsgAction" class="com.centit.app.action.InnermsgAction" scope="request">
		<property name="innermsgManager" ref="innermsgManager" />
	</bean>
	<bean name="dashboardAction" class="com.centit.app.action.DashboardAction" scope="request">
		<property name="innermsgManager" ref="innermsgManager" />
		
		<property name="userSettingMgr" ref="userSettingManager" />
		<!--
		<property name="sysUserManager" ref="sysUserManager" />
		<property name="sysUnitManager" ref="sysUnitManager" />
		<property name="outwayManager" ref="outwayManager" />
		<property name="complaintManager" ref="complaintManager" />
		<property name="superviseOnworkManager" ref="superviseOnworkManager" />
		<property name="trackLogManager" ref="trackLogManager" />
		-->
		
		<property name="vOptApplyTaskManager" ref="vOptApplyTaskManager" />
		<property name="optProcAttentionManager" ref="optProcAttentionManager" />
		<property name="userTaskListCFManager" ref="userTaskListCFManager" />
	</bean>
	<bean name="calendarAction" class="com.centit.app.action.CalendarAction" scope="request">
		<property name="oaWorkDayManager" ref="oaWorkDayManager"></property>
		<property name="workCalendar" ref="workCalendar"></property>
	</bean>
</beans>