<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd"><beans default-lazy-init="false" default-autowire="no" default-dependency-check="none">
	
	<bean id="bpowerItemDao" class="com.centit.poweritem.dao.BpowerItemDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="bpowerItemServiceDao" class="com.centit.poweritem.dao.BpowerItemServiceDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="vpoweritemservicewithoutlobDao" class="com.centit.poweritem.dao.VpoweritemservicewithoutlobDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="vpowerItemServiceChangeDao" class="com.centit.poweritem.dao.VpowerItemServiceChangeDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="bpowerItemQldyDao" class="com.centit.poweritem.dao.BpowerItemQldyDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
		
</beans>